body {
  background-color: rgb(15, 23, 42);
}
.header {
  border-bottom: white 2px solid;
  width: 80%;
  display: inline-block;
  margin-bottom: 20px;
}
a {
  color: #0a0 !important;
}
.App {
  text-align: center;;
  display: flex;
  flex-direction: column;
  align-items: center;
  color:white;
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.CImg.inverted {
  -webkit-filter: invert(1);
  filter: invert(1);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.Text {
  font-weight: bold;
  width: 50%;
  max-width: 800px;
  margin: 2px;
  outline: none;
  border-radius: 2px;
  border-width: 0;
}
.CImg {
  width: 20%;
  max-width: 400px;
  margin: 1px;
}
.Guess {
  border-width: 1;
  border-color: #00cc00;
}
.log {
  width: 50%;
  max-width: 800px;
  display: inline-block;
  border-radius: 2px;
  min-height: 20px;
  font-size: 15px;
  text-align: center;
  outline: 1px solid rgba(0,0,0,0.5);
}
.btn {
  color: white;
  font-weight: bold;
  width: 50%;
  max-width: 800px;
  border-width: 2;
  border-radius: 3px;
}
.btn_win {
  border-color: #00cc00;
  background-color: #14d243;
}
.btn_lose {
  border-color: #ff0000;
  background-color: #d21443;
}
.btn_outline {

  background-color: rgba(0,0,0,0);
  border-color: white;
}
.PHold {
  max-width: 800px;
  margin: 2px 0;
  width: 50%;
  border-radius: 3px;
  border-width:0;
  outline: 1px solid rgba(0,0,0,0.5);
  margin-left: 0;
  background-color: #aaa
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
small {
  width: 50%;
}
.fadein {
  position: fixed;
  width: 10rem;
  top: 50%;
  height: 10rem;
  left: 50%;
  background-color: rgba(0,0,255,.5);
  animation: in .5s linear;
}
@keyframes in {
    0% {
      top: 0;
      opacity: 0;
    }
    100% {
      top: 50%;
      opacity: 100%;
    }
}